* {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10%;
}

.section2 {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

    
.oneway, .return{
    display: flex;
    flex-direction: row;
}

